<% include partials/header %>

<div class="container">
  <div class="row jumbotron">
    <h1>Dashboard</h1>
    <h3>Hello <%= rider %>!</h3>
    <h4>You have <%= balance %> Points</h4>
  </div>

  <div class="row">
    <h4>These are the current rewards:</h4>
  </div>

  <div class="row reward-box-container">
    <% rewards.forEach(function(reward){ %>
    <div class="reward-box col-md-6 col-sm-12">
      <form class="" action="/dashboard" method="POST">
        <label for="">
          <%= reward.rewardType %>
          <br>
          <%= reward.rewardPoints %>
        </label>

          <input type="hidden" class="form-control" name="rewardID" value="<%= reward.rewardId %>">

          <input type="hidden" class="form-control" name="rewardPoints" value="<%= reward.rewardPoints %>">

        <div class="form-group">
          <input type="submit" class="btn btn-lg btn-primary btn-block"name="" value="Redeem">
        </div>
      </form>
    </div>
    <% }); %>
  <!--End of reward-box-container-->
  </div>

<!--End of page container-->
</div>
